<div class="messages">
  {{inventory.message}}
</div>
Inventory
<span class="keys">
  Keys: {{numKeys}}
</span>
<ul>
  {{#each thing in inventory.stuff}}
    <li>
      {{thing}}
    </li>
  {{/each}}
</ul>