<div class="messages">
  {{inventory.message}}
</div>
<div>
  <h3>Inventory</h3>
  <span class="keys">
    Keys: {{numKeys}}
  </span>
  <ul class="things">
    {{#each thing in inventory.things}}
      <li class="thing">
        <a href="" {{action "showThing" thing}}>
          {{thing.name}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>