<p class="room-description">you are {{model.description}}.
  {{#if model.items}}
    you see
    {{#each item in model.items}}
      {{link-to item.name 'room.item' model item.id class="item"}}.
    {{/each}}
  {{/if}}
  {{#if model.merchant}}
    there is a
    {{link-to model.merchant.name 'room.merchant' model model.merchant.id class="merchant"}}
  {{/if}}
</p>