<p class="room-description">you are {{model.description}}.
  {{#if model.items}}
    you see
    {{#each item in model.items}}
      {{link-to item.name 'room.item' model item.id class="item"}}.
    {{/each}}
  {{/if}}
</p>